.LoginForm-container {
  display: flex;
  flex-direction: column;
  margin:40px 20px 0 20px ;
  gap: 17px;
}

.LoginForm-header {
  margin: 0;
}
.LoginForm-form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 17px;

}
.LoginForm-form > div > input {
  height: 26px;
  width: 200px;
}
.LoginForm-form > div > p {
  margin: 0;
}
.LoginForm-button {
  width: fit-content;
}
.LoginForm__error{
  color: #FF0000;
  font-weight: bold;
}
