.Controls {
  border-bottom: 1px dashed #ccc;
  padding: 20px 20px 30px;
  display: flex;
  justify-content: flex-end;

}
.Controls-cart {
  padding: 0px 20px;
}

.Controls-cart__bold{
  font-weight: bold;
}
.Controls-button{
  padding: 0 18px;
  cursor: pointer;
}
